{% extends "../base.html" %}
{% block content %}

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:650px">

  <!-- Push down content on small screens --> 
  <div class="w3-hide-large" style="margin-top:100px"></div>
 
<div class="topinfo">
<h1>{{ accountdetail.name }}</h1>
<img src="{{ accountdetail.profile_picture.url }}" width="200" height="200">
<br>
<br>
{{ accountdetail.bio }}
<br>
<br>
</div>
<!-- Photo Grid -->
<div class="w3-row">
    <div class="wrapper">
        {% for object in accountdetail.posts.all %}
          <div><img src="{{ object.image.url }}" width="300" height="400" onclick="onClick(this)" alt="{{ object.title }}<br>{{ object.description }}<br>{{ object.date_created }}"></div>
        {% endfor %}    
    </div>
</div>
  <!-- Pagination -->
   <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>     
</div>
<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
  <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption"></p>
  </div>
</div>
<script>
    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }
     
    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }
    
    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }
    
    </script>
{% endblock %}